<section class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title">
                <h6 class="default-color text-uppercase">How to wash your hands</h6>
                <h2><span class="font-700">Why do I need wash hand</span></h2>
                <p>Protect yourself and others against infections</p>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-md-2 text-center col-sm-4">
                <div class="box-wrap">
                    <span>1</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-1.svg')}}" alt="step-1"></div>
                    <h4>Apply soap</h4>
                </div>
            </div>

            <div class="col-md-2 main-service-box-3 text-center col-sm-4">
                <div class="box-wrap">
                    <span>2</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-2.svg')}}" alt="step-2"></div>
                    <h4>Rub Hands</h4>
                </div>
            </div>

            <div class="col-md-2 main-service-box-3 text-center col-sm-4">
                <div class="box-wrap">
                    <span>3</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-3.svg')}}" alt="step-3"></div>
                    <h4>Between Fingers</h4>
                </div>
            </div>

            <div class="col-md-2 main-service-box-3 text-center col-sm-4">
                <div class="box-wrap">
                    <span>4</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-4.svg')}}" alt="step-4"></div>
                    <h4>Back to Hands</h4>
                </div>
            </div>

            <div class="col-md-2 main-service-box-3 text-center col-sm-4">
                <div class="box-wrap">
                    <span>5</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-5.svg')}}" alt="step-5"></div>
                    <h4>Clean Thumbs</h4>
                </div>
            </div>

            <div class="col-md-2 main-service-box-3 text-center col-sm-4">
                <div class="box-wrap">
                    <span>6</span>
                    <div class="img-wrp"><img class="img-responsive" src="{{ helper.custom_link('assets/images/step-6.svg')}}" alt="step-6"></div>
                    <h4>Use Towel</h4>
                </div>
            </div>

        </div>
    </div>
</section>