<section id="prevention">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title-two text-left">
                <h6 class="red-color text-uppercase">How to Prevent Yourself</h6>
                <h2><span class="font-700">Prevention of Coronavirus</h2>
                <p>You can protect yourself and help prevent spreading the virus<br> to others if you:</p>
            </div>
        </div>

        <div class="row mt-50">
            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/hands-washing.svg')}}" alt="hand-washing"></i>
                <h4>Wash your hands frequently</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>
            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/avoid-contact.svg')}}" alt="avoid-contact"></i>
                <h4>Avoid close contact</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>
            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/cleaning-door.svg')}}" alt="cleaning-door"></i>
                <h4>If surfaces are dirty, clean them</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>

            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/home-stay.svg')}}" alt="home-stay"></i>
                <h4>Stay home if you are sick,  get medical care</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>
            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/mask-wearing.svg')}}" alt="mask-wearing"></i>
                <h4>If you are sick: You should wear a facemask</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>
            <div class="col-md-4 main-service-box-2 text-center col-sm-4">
                <i><img class="img-responsive" src="{{ helper.custom_link('assets/images/vomiting-nausea.svg')}}" alt="vomiting-nausea"></i>
                <h4>Practice respiratory hygiene</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur leo a velit mattis.</p>
{#                <a href="#.">Read more <i class="mdi mdi-arrow-right"></i></a>#}
            </div>

        </div>
    </div>
</section>